<div class="product-detail-container">
  <div class="product-image-container">
    <img [src]="data.product.imageUrl" [alt]="data.product.title" class="large-image">
  </div>
  
  <div class="product-info">
    <h2>{{ data.product.title }}</h2>
    <p class="price">{{ data.product.price | currency }}</p>
    <p class="description">{{ data.product.description }}</p>
    
    <div class="stock" [class.low-stock]="data.product.stock < 10">
      Stock: {{ data.product.stock }}
    </div>
    
    <div class="quantity-controls">
      <button mat-icon-button (click)="decreaseQuantity()">
        <mat-icon>remove</mat-icon>
      </button>
      <span class="quantity">{{ quantity }}</span>
      <button mat-icon-button (click)="increaseQuantity()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    
    <button 
      mat-raised-button 
      color="primary" 
      (click)="addToCart()"
      class="add-to-cart-btn"
    >
      <mat-icon>add_shopping_cart</mat-icon> Add to Cart
    </button>
  </div>
</div>
